@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight:500;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transition: all 1s;
  justify-content: space-between;
}

.light--mode-body{
  background-color: hsl(236, 33%, 92%);
  color:  hsl(235, 19%, 35%);
  min-height: 100vh;

}

.dark--mode-body{
  background-color: hsl(235, 21%, 11%);
  color: hsl(234, 39%, 85%);
  min-height: 100vh;
}

.header{
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 1s;
}

nav{
  padding: 6rem 0 2rem;
}

.input-box input{
  width: 100%;
  padding: .5rem .5rem .5rem 3rem; 
  outline: none;
  margin: 2rem 0 .5rem;
  border-radius: .3rem;
  font-weight: 500;
  font-size: 18px;
}

.input-box{
  position: relative;
}

.btn-add{
  position: absolute;
  bottom:9px;
  right: 1px;
  outline: none;
  border: none;
  padding: .66rem;
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
}

.btn-add img {
  width: 20px;
  height: 10px;
  color:black;
}



.light--mode-input{
  border :0px solid hsl(0, 0%, 98%);
  background-color :hsl(0, 0%, 98%);
  color : hsl(235, 19%, 35%);
}

.dark--mode-input{
  border: 0px solid hsl(235, 24%, 19%);
  background-color: hsl(235, 24%, 19%);
  color: hsl(234, 39%, 85%);
}

.nav-items, .todo-body, nav{
  margin: 0 auto;
}

.logo p {
  text-transform: uppercase;
  color: #fff;
  font-size: 3rem;
  letter-spacing: 7px;
  font-weight: 700;
}

.toggle {
  align-items: center;
  background-color: transparent;
  border:none;
}

.todo-body, nav {
  width: 50%;
}

.todo-body{
  margin-top: -20px;
}

.todo-box, .todo-box-filter{
  padding: .7rem .7rem .7rem 2rem; 
  text-align: left;
  border: 0px solid hsl(235, 24%, 19%);
  border-bottom: 1px solid hsl(234, 11%, 52%);
  background-color: hsl(235, 24%, 19%);
  color: hsl(234, 39%, 85%);
}

.light--mode-todo-box, .light--mode-todo-box-filter{
  border :0px solid hsl(0, 0%, 98%);
  background-color :hsl(0, 0%, 98%);
  border-bottom: 1px solid hsl(236, 9%, 61%);
  color:   hsl(235, 19%, 35%);
}

.dark--mode-todo-box, .dark--mode-todo-box-filter{
  border: 0px solid hsl(235, 24%, 19%);
  border-bottom: 1px solid hsl(234, 11%, 52%);
  background-color: hsl(235, 24%, 19%);
  color: hsl(234, 39%, 85%);
}

.todo-box span{
  margin-left: .7rem;
}

.todo-box-filter{
  border-bottom: none;
}

.draggable-list .todo-box.over.draggable{
  background-color: hsl(234, 39%, 85%);
}


.toggle,
.todo-box__sorter,
.todo-sorter,
.nav-items {
  display: flex;
}

.todo-sorter {
  width: 30%;
  margin-right: 45px;
}

.todo-box__sorter,
.todo-sorter {
  justify-content: space-between;
}

.item{
  padding-left: 10px;
}
.todo-box{
  display: flex;
  justify-content: flex-start;
}

.task_close{
  margin-right: 1rem;
}

.task_close:hover{
  cursor: pointer;
}

.hidden{
  display: none;
  visibility: hidden;
}

.nav-items {
  justify-content: space-between;
}


footer{
 margin: 1rem auto .5rem;
}

.toggle img{
  cursor: pointer;
}

.filter:hover{
  cursor: pointer;
  
}

.light--mode-filter:hover{
  color:  hsl(236, 9%, 61%)
}

.dark--mode-filter:hover{
  color:#fff;
}

#delete{
  border:none;
  background-color: transparent;
  cursor: pointer;
  margin-left: auto;
  
}

#spanTask{
  margin-top: 5px;
}
#spanNoTask{
  font-size:22px;
 padding-left: 35%;
}
.btn-descarga{
  margin-top: 20px;
  background-color: rgb(207, 137, 235);
  color:#fff;
  padding: 10px;
  border-radius:10% ;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 30px;
  padding: 15px 20px;
  position: relative;
  font-family: 'Josefin Sans', sans-serif;
  transition: transform 0.3s ease;
  border: none;
}

.btn-descarga::after , .btn-descarga::before{
  content: "";
  position: absolute;
  opacity: 0.3;
  background-color: rgb(207, 137, 235);
  border-radius: inherit;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: transform 0.3s ease;
}
.btn-descarga:hover{
  transform: translate(-12px, -12px);
 
}

.btn-descarga:hover::after{
  transform: translate(6px, 6px)
}

@media(max-width: 1130px) {
  .todo-body, nav {
    width: 80%;
  }
}


@media(max-width: 740px) {
  .sorters{
    position: absolute;
    width:80%;
    padding: .5rem 0;
    left: 0;
    right: 0;
    margin: 3.5rem auto 0;
  } 
  footer{
    margin: 4.5rem auto .5rem;
  }
  .light--sorters{
    border :0px solid hsl(0, 0%, 98%);
    background-color :hsl(0, 0%, 98%);
    color:  hsl(235, 19%, 35%);
  }
  .dark--sorters{
    border: 0px solid hsl(235, 24%, 19%);
    background-color: hsl(235, 24%, 19%);
    color: hsl(234, 39%, 85%);
  }
  #spanNoTask{
    margin-top: 5px;
    font-size: 18px;
    padding-left: 15px;
  }
}

@media(max-width:375px){
  body{
    font-size: 13px;
  }
  .input-box input{
    padding: .5rem .5rem .5rem 1rem; 
  }
  .logo p {
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
    letter-spacing: 7px;
    font-weight: 600;
  }
  .input-box input{
    font-size: 13px;
  }
  .btn-add{
    padding: .45rem;
  }
  #spanNoTask{
    margin-top: 5px;
    font-size: 18px;
    padding-left: 15px;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: .4rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
